@font-face { font-family: "Gotham Bold"; font-style: normal; font-weight: normal; src: local("Gotham Bold"), url("../fonts/Gotham/GothamRoundedBold_21016.ttf") format("truetype"); }

@font-face { font-family: "Gotham Rounded Light"; font-style: normal; font-weight: normal; src: local("Gotham Rounded Light"), url("../fonts/Gotham/GothamRoundedLight_21020.ttf") format("truetype"); }

@font-face { font-family: "Helvetica Neue LT Light"; font-style: normal; font-weight: normal; src: local("Helvetica Neue LT Light"), url("../fonts/Helvetica/Helvetica Neue LT 45 Light.woff") format("woff"); }

@font-face { font-family: "Helvetica Neue LT Medium"; font-style: normal; font-weight: normal; src: local("Helvetica Neue LT Medium"), url("../fonts/Helvetica/Helvetica Neue LT 65 Medium.woff") format("woff"); }

@font-face { font-family: "Helvetica Neue LT Bold"; font-style: normal; font-weight: normal; src: local("Helvetica Neue LT Bold"), url("../fonts/Helvetica/Helvetica Neue LT 75 Bold.woff") format("woff"); }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Gotham Rounded Light", arial, helvetica, sans-serif; }

.gotham-light { font-family: "Gotham Rounded Light", arial, helvetica, sans-serif; }

.gotham-bold { font-family: "Gotham Bold", arial, helvetica, sans-serif; }

.helvetica-light { font-family: "Helvetica Neue LT Light", arial, helvetica, sans-serif; }

.helvetica-medium, .main-search-results .page-link { font-family: "Helvetica Neue LT Medium", arial, helvetica, sans-serif; }

.helvetica-bold { font-family: "Helvetica Neue LT Bold", arial, helvetica, sans-serif; }

.color-white { color: white; }

.color-black { color: black; }

.color-pink { color: #d35266; }

.color-gray { color: #888; }

.color-dark { color: #383838; }

.bg-pink, aside.search-results .form-check-input:checked { background-color: #d35266; }

.bg-gray { background-color: #888; }

.bg-dark { background-color: #383838 !important; }

body { min-width: 350px; }

li { list-style: none; }

.current-page { color: #d35266 !important; cursor: default; text-decoration: none; }

.current-page:hover { pointer-events: none; cursor: default; }

h1, h2, h3, h4, h5, h6 { font-family: "Gotham Bold", arial, helvetica, sans-serif; }

footer a:hover { color: #d35266; }

main.home a:hover { color: #d35266; }

footer ul { padding: 0; }

.nav-bar img { height: 2em; }

footer .zattix { grid-area: footer-zattix; }

footer .zattix img { height: 2em; }

footer .zattix .zattix-logo { -webkit-transform: scale(0.8); transform: scale(0.8); }

footer .zattix p { text-align: justify !important; }

footer .bottom-line ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .bottom-line ul li { display: inline-block; margin: 0 1em; }

.nav-bar { background-color: #383838; color: #888; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.nav-bar .nav-bar-left { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0.75em; position: relative; }

.nav-bar .nav-bar-left ul { display: none; position: absolute; top: 3em; -webkit-transform: translateY(0); transform: translateY(0); background-color: #383838; z-index: 5; -webkit-transition: 0.5s; transition: 0.5s; padding: 0; }

.nav-bar .nav-bar-left ul a { display: inline-block; color: #888; padding: 1em; padding-top: 0.5em; font-family: "Gotham Bold", arial, helvetica, sans-serif; text-decoration: none; }

.nav-bar .nav-bar-left ul a:hover { color: #d35266 !important; text-decoration: none !important; }

.nav-bar .nav-bar-left button { width: -webkit-max-content; width: -moz-max-content; width: max-content; background-color: #d35266; color: white; padding: 0.5em; font-family: "Gotham Bold", arial, helvetica, sans-serif; border: none; }

.nav-bar .nav-bar-left button:hover { cursor: pointer; }

.nav-bar .nav-bar-left button:focus + ul { display: block; -webkit-transform: translateY(10px); transform: translateY(10px); }

.nav-bar ul.nav-bar-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: auto 0.25em; }

.nav-bar ul.nav-bar-right li { padding-right: 1em; }

.nav-bar ul.nav-bar-right li i { font-size: 1.5em; }

.nav-bar ul.nav-bar-right li i:hover { cursor: pointer; color: #d35266; }

header > .search-panel { background: url(../img/search-panel-background.jpg), -webkit-gradient(linear, left top, left bottom, from(#d35266), to(white)); background: url(../img/search-panel-background.jpg), linear-gradient(#d35266 0% 33%, white); background-position: center; background-size: cover; background-blend-mode: darken; height: 400px; }

header > .search-panel h1 { text-align: center; color: white; }

header > .search-panel .zattix { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header > .search-panel .zattix img { height: 3em; }

header > .search-panel .zattix .zattix-logo { -webkit-transform: scale(0.8); transform: scale(0.8); }

header > .search-panel .btn-dark { background-color: #383838 !important; }

section.hot-ads { height: 370px; }

section.hot-ads .carousel-item .card { max-width: 540px; }

section.hot-ads .carousel-item .card .card-img { width: 50%; padding-top: 50%; background-repeat: no-repeat; background-size: cover; background-position: center; }

section.hot-ads .carousel-item .card .card-img-1 { background-image: url(../img/carousel-1.jpg); }

section.hot-ads .carousel-item .card .card-img-2 { background-image: url(../img/carousel-2.jpg); }

section.hot-ads .carousel-item .card .card-img-3 { background-image: url(../img/carousel-3.jpg); }

main.home .main-card-img { padding-top: 66.667%; background-repeat: no-repeat; background-size: cover; background-position: center; }

main.home .main-card-img-apt-1 { background-image: url(../img/apartment-1.jpg); }

main.home .main-card-img-apt-2 { background-image: url(../img/apartment-2.jpg); }

main.home .main-card-img-apt-3 { background-image: url(../img/apartment-3.jpg); }

main.home .main-card-img-apt-4 { background-image: url(../img/apartment-4.jpg); }

main.home .main-card-img-house-1 { background-image: url(../img/house-1.jpg); }

main.home .main-card-img-house-2 { background-image: url(../img/house-2.jpg); }

main.home .main-card-img-house-3 { background-image: url(../img/house-3.jpg); }

main.home .main-card-img-house-4 { background-image: url(../img/house-4.jpg); }

main.home .main-card-img-office-1 { background-image: url(../img/office-1.jpg); }

main.home .main-card-img-office-2 { background-image: url(../img/office-2.jpg); }

main.home .main-card-img-office-3 { background-image: url(../img/office-3.jpg); }

main.home .main-card-img-office-4 { background-image: url(../img/office-4.jpg); }

main.home .main-card-img-land-1 { background-image: url(../img/land-1.jpg); }

main.home .main-card-img-land-2 { background-image: url(../img/land-2.jpg); }

main.home .main-card-img-land-3 { background-image: url(../img/land-3.jpg); }

main.home .main-card-img-land-4 { background-image: url(../img/land-4.jpg); }

.main-search-results .search-result-card-img { padding-top: 65%; background-repeat: no-repeat; background-size: cover; background-position: center; }

.main-search-results .search-result-card-img-1 { background-image: url(../img/flat-1.jpg); }

.main-search-results .search-result-card-img-2 { background-image: url(../img/flat-2.jpg); }

.main-search-results .search-result-card-img-3 { background-image: url(../img/flat-3.jpg); }

.main-search-results .search-result-card-img-4 { background-image: url(../img/flat-4.jpg); }

.main-search-results .search-result-card-img-5 { background-image: url(../img/flat-5.jpg); }

footer { display: -ms-grid; display: grid; grid-template: "footer-zattix    footer-cat" auto "footer-nav       form" auto "bottom-line      bottom-line" auto / 1fr 1fr; }

footer .footer-cat { grid-area: footer-cat; display: -ms-grid; display: grid; grid-template: "foot-cat-1 foot-cat-1" 2.5em "foot-cat-2 foot-cat-3" auto / 1fr 1fr; }

footer .footer-cat .foot-cat-1 { grid-area: foot-cat-1; border-bottom: 1px solid #d35266; }

footer .footer-cat .foot-cat-2 { grid-area: foot-cat-2; }

footer .footer-cat .foot-cat-3 { grid-area: foot-cat-3; }

footer .footer-nav .foot-nav-1 { border-bottom: 1px solid #d35266; }

footer form { grid-area: form; display: -ms-grid; display: grid; grid-template: "label-id-country   id-country" 1.5em "label-id-language  id-language" 1.5em "label-id-currency  id-currency" 1.5em / 1fr 1fr; gap: 1em; padding-top: 2.5em; }

footer form .label-id-country { grid-area: label-id-country; }

footer form #id-country { grid-area: id-country; }

footer form .label-id-language { grid-area: label-id-language; }

footer form #id-language { grid-area: id-language; }

footer form .label-id-currency { grid-area: label-id-currency; }

footer form #id-currency { grid-area: id-currency; }

footer form .center-label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer .bottom-line { grid-area: bottom-line; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer .bottom-line p { text-align: center; }

@media screen and (min-width: 768px) { .nav-bar * { margin: 0; padding: 0; }
  .nav-bar .nav-bar-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: static; }
  .nav-bar .nav-bar-left .button-logo { display: none; }
  .nav-bar .nav-bar-left ul { display: -webkit-box; display: -ms-flexbox; display: flex; position: static; top: 3em; -webkit-transform: translateY(0); transform: translateY(0); color: #d35266 !important; background-color: #383838; z-index: 5; -webkit-transition: 0.5s; transition: 0.5s; }
  .nav-bar .nav-bar-left a { display: inline-block; color: #888; font-family: "Gotham Bold", arial, helvetica, sans-serif; text-decoration: none; }
  .nav-bar .nav-bar-left a:hover { color: #d35266 !important; text-decoration: none !important; }
  .nav-bar .nav-bar-left button { width: -webkit-max-content; width: -moz-max-content; width: max-content; background-color: #d35266; color: white; padding: 0.5em; font-family: "Gotham Bold", arial, helvetica, sans-serif; border: none; }
  .nav-bar .nav-bar-left button:hover { cursor: pointer; }
  .nav-bar .nav-bar-left button:focus + ul { display: block; -webkit-transform: translateY(10px); transform: translateY(10px); }
  .nav-bar img { height: 2em; } }

@media screen and (min-width: 992px) { .main-search-results .search-result-card-img { padding-top: 25%; }
  footer { display: -ms-grid; display: grid; grid-template: "footer-zattix    footer-cat    footer-nav    form" auto "bottom-line      bottom-line   bottom-line   bottom-line" auto / 1fr 1fr; }
  footer .bottom-line { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; } }
/*# sourceMappingURL=style.css.map */