@font-face {
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"),
    url("../fonts/Gotham/GothamRoundedBold_21016.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Rounded Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Rounded Light"),
    url("../fonts/Gotham/GothamRoundedLight_21020.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Light"),
    url("../fonts/Helvetica/Helvetica Neue LT 45 Light.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Medium"),
    url("../fonts/Helvetica/Helvetica Neue LT 65 Medium.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Bold"),
    url("../fonts/Helvetica/Helvetica Neue LT 75 Bold.woff") format("woff");
}

$pink: #d35266;
$gray: #888;
$dark: #383838;
$gotham-light: "Gotham Rounded Light", arial, helvetica, sans-serif;
$gotham-bold: "Gotham Bold", arial, helvetica, sans-serif;
$helvetica-light: "Helvetica Neue LT Light", arial, helvetica, sans-serif;
$helvetica-medium: "Helvetica Neue LT Medium", arial, helvetica, sans-serif;
$helvetica-bold: "Helvetica Neue LT Bold", arial, helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $gotham-light;
}

.gotham-light {
  font-family: $gotham-light;
}

.gotham-bold {
  font-family: $gotham-bold;
}

.helvetica-light {
  font-family: $helvetica-light;
}

.helvetica-medium {
  font-family: $helvetica-medium;
}

.helvetica-bold {
  font-family: $helvetica-bold;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-pink {
  color: $pink;
}

.color-gray {
  color: $gray;
}

.color-dark {
  color: $dark;
}

.bg-pink {
  background-color: $pink;
}

.bg-gray {
  background-color: $gray;
}

.bg-dark {
  background-color: $dark;
}

body {
  min-width: 350px;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gotham-bold;
}

.nav-bar {
  background-color: $dark;
  color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-bar-left {
    display: flex;
    margin: 0.75em;
    position: relative;

    ul {
      display: none;
      position: absolute;
      top: 3em;
      transform: translateY(0);
      background-color: $dark;
      z-index: 5;
      // padding: 1em;
      transition: 0.5s;
      padding: 0;

      a {
        display: inline-block;
        color: $gray;
        padding: 1em;
        padding-top: 0.5em;
        font-family: $gotham-bold;
        text-decoration: none;

        &:hover {
          color: $pink !important;
          text-decoration: none !important;
        }
      }
    }

    button {
      width: max-content;
      background-color: $pink;
      color: white;
      padding: 0.5em;
      font-family: $gotham-bold;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:focus + ul {
        display: block;
        transform: translateY(10px);
      }
    }
  }

  img {
    height: 2em;
  }

  ul.nav-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.25em;

    li {
      padding-right: 1em;

      i {
        font-size: 1.5em;

        &:hover {
          cursor: pointer;
          color: $pink;
        }
      }
    }
  }
}

header > .search-panel {
  background: url(../img/search-panel-background.jpg),
    linear-gradient($pink 0% 33%, white);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  height: 400px;

  h1 {
    text-align: center;
    color: white;
  }

  .zattix {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 3em;
    }

    .zattix-logo {
      transform: scale(0.8);
    }
  }

  .btn-dark {
    background-color: $dark !important;
  }
}

section.hot-ads {
  height: 45vh;

  .carousel-item {
    .card {
      max-width: 540px;

      .card-img {
        width: 50%;
        padding-top: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .card-img-1 {
        background-image: url(../img/carousel-1.jpg);
      }

      .card-img-2 {
        background-image: url(../img/carousel-2.jpg);
      }

      .card-img-3 {
        background-image: url(../img/carousel-3.jpg);
      }
    }
  }
}

main {
  .main-card-img {
    padding-top: 66.667%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main-card-img-apt-1 {
    background-image: url(../img/apartment-1.jpg);
  }

  .main-card-img-apt-2 {
    background-image: url(../img/apartment-2.jpg);
  }

  .main-card-img-apt-3 {
    background-image: url(../img/apartment-3.jpg);
  }

  .main-card-img-apt-4 {
    background-image: url(../img/apartment-4.jpg);
  }

  .main-card-img-house-1 {
    background-image: url(../img/house-1.jpg);
  }

  .main-card-img-house-2 {
    background-image: url(../img/house-2.jpg);
  }

  .main-card-img-house-3 {
    background-image: url(../img/house-3.jpg);
  }

  .main-card-img-house-4 {
    background-image: url(../img/house-4.jpg);
  }

  .main-card-img-office-1 {
    background-image: url(../img/office-1.jpg);
  }

  .main-card-img-office-2 {
    background-image: url(../img/office-2.jpg);
  }

  .main-card-img-office-3 {
    background-image: url(../img/office-3.jpg);
  }

  .main-card-img-office-4 {
    background-image: url(../img/office-4.jpg);
  }

  .main-card-img-land-1 {
    background-image: url(../img/land-1.jpg);
  }

  .main-card-img-land-2 {
    background-image: url(../img/land-2.jpg);
  }

  .main-card-img-land-3 {
    background-image: url(../img/land-3.jpg);
  }

  .main-card-img-land-4 {
    background-image: url(../img/land-4.jpg);
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    * {
      margin: 0;
      padding: 0;
    }

    .nav-bar-left {
      display: flex;
      align-items: center;
      position: static;

      .button-logo {
        display: none;
      }

      ul {
        display: flex;
        position: static;
        top: 3em;
        transform: translateY(0);
        color: $pink !important;
        background-color: $dark;
        z-index: 5;
        transition: 0.5s;
      }

      a {
        display: inline-block;
        color: $gray;
        font-family: $gotham-bold;
        text-decoration: none;

        &:hover {
          color: $pink !important;
          text-decoration: none !important;
        }
      }

      button {
        width: max-content;
        background-color: $pink;
        color: white;
        padding: 0.5em;
        font-family: $gotham-bold;
        border: none;

        &:hover {
          cursor: pointer;
        }

        &:focus + ul {
          display: block;
          transform: translateY(10px);
        }
      }
    }

    img {
      height: 2em;
    }
  }
}
